<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
<h2 class="text-center text-primary">Sign up</h2>
<hr>
<div class="form-group">
    <label class="control-label" style="margin-right: 10px;">I am a: </label>
    <label class="radio-inline">
        <input type="radio" value="male" formControlName='gender'> Male
    </label>
    <label class="radio-inline">
        <input type="radio" value="female" formControlName='gender' class="ml-3"> Female
    </label>
</div>
<!-- does not work with ts config strict template checking has to have any-->
<app-text-input [formControl]='$any(registerForm).controls["username"]' [label]='"Username"'></app-text-input>
<app-text-input [formControl]='$any(registerForm).controls["knownAs"]' [label]='"Known as"'></app-text-input>
<app-date-input [formControl]='$any(registerForm).controls["dateOfBirth"]' [label]='"Date Of Birth"' [maxDate]='maxDate'></app-date-input>
<app-text-input [formControl]='$any(registerForm).controls["city"]' [label]='"City"'></app-text-input>
<app-text-input [formControl]='$any(registerForm).controls["country"]' [label]='"Country"'></app-text-input>
<app-text-input [formControl]='$any(registerForm).controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
<app-text-input [formControl]='$any(registerForm).controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

<div class="row" *ngIf="validationErrors.length > 0">
    <ul class=text-danger>
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
</div>

<div class="form-group text-center">
    <button  [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-light mr-2" type="submit" (click)="cancel()">Cancel</button>
</div>

</form>

<!-- <p>Form value: {{registerForm.value | json}}</p>
<p>Form value: {{registerForm.status | json}}</p> -->

<!-- LEGACY CODE WITH OLD VALIDATORS
<div class="form-group">
    <input
        [class.is-invalid]='registerForm.get("username")?.errors && registerForm.get("username")?.touched'
        type="text" 
        class="form-control" 
        formControlName='username' 
        placeholder="Username">
    <div class="invalid-feedback">Please enter a username</div>
</div>


<div class="form-group">
    <input 
        [class.is-invalid]='registerForm.get("password")?.errors && registerForm.get("password")?.touched'
        type="password" 
        class="form-control" 
        formControlName='password' 
        placeholder="Password">
    <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
    <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>
    <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback">Password must be at most 8 characters</div>
</div>
<div class="form-group">
    <input
        [class.is-invalid]='registerForm.get("confirmPassword")?.errors && registerForm.get("confirmPassword")?.touched'
        type="password"
        class="form-control" 
        formControlName='confirmPassword' 
        placeholder="Confirm Password">
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Please enter a confirm password</div>
    <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback">Confirm password must match</div>
</div>
<div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-light mr-2" type="submit" (click)="cancel()">Cancel</button>
</div> -->
